<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:fragment="mainHeader">
        <title>파이리</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="description" content="홈페이지제작, 시스템개발, 웹에이전시, 반응형홈페이지, 프로그램, 솔루션업체, 어플, 앱개발, 어플제작">
        <meta property="og:description" content="홈페이지제작, 시스템개발, 웹에이전시, 반응형홈페이지, 프로그램, 솔루션업체, 어플, 앱개발, 어플제작">
        <meta name="Keywords" content="홈페이지제작, 시스템개발, 웹에이전시, 반응형홈페이지, 프로그램, 솔루션업체, 어플, 앱개발, 어플제작" />
        <meta property="og:type" content="website">
        <meta property="og:title" content="파이리">
        <meta name="Copyright" content="파이리" />
        <meta name="Subject" content="파이리" />
        <meta property="og:url" content="http://jaeilkim.cafe24.com">
        <meta property="al:web:url" content="http://jaeilkim.cafe24.com">
        <link rel="canonical" href="http://jaeilkim.cafe24.com">

        <!-- 아이콘 -->
        <link th:href="@{images/ico.ico}" rel="icon">
        <!-- 폰트 : 나눔스퀘어 폰트어썸 cdn-->
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- css -->
        <link rel="stylesheet" th:href="@{css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{css/animate.css}">
        <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{fonts/ionicons/css/ionicons.min.css}">
        <link rel="stylesheet" th:href="@{fonts/fontawesome/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{fonts/flaticon/font/flaticon.css}">
        <link rel="stylesheet" th:href="@{css/style.css}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/vs2015.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script th:src="@{ckeditor-add/ckeditor.js}"></script>
    </head>
</html>