<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<body layout:fragment="content" class="site-section py-sm">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">카테고리 관리</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mt-4">
                    <div class="mb-5">
                        <h3 class="mb-4">카테고리 추가</h3>
                        <div class="input-group">
                            <input class="input50" type="text" id="category_name" name="category_name" placeholder="카테고리를 입력해주세요">
                            <span class="focus-input50"></span>
                            <button id="add_category" class="fa fa-plus btn-outline-success" style="color:#20c997;"></button>
                        </div>
                    </div>
                    <div id="container" class="mb-3">
                        <h3 class="mb-4">카테고리 삭제</h3>


                        <th:block th:if="${categoryList == null}">
                            <h3 class="text-center">등록된 카테고리가 없습니다!</h3>
                        </th:block>

                        <div class="col-lg-8 col-xs-12" th:if="${categoryList != null}">
                            <th:block th:each="cl : ${categoryList}">
                                <input type="checkbox" th:id="${cl.category_code}" name="chk_ct" th:value="${cl.category_code}" onclick="check(this)">
                                <label th:for="${cl.category_code}" th:text="${cl.category_name}"></label>
                                <br/>
                            </th:block>
                        </div>
                        <div class="modal-footer">
                            <button class="btn fa fa-trash mr-4" id="del_category" style="color: #c80000;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
   <section class="site-section">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <h1 class="mb-4">게시글 작성</h1>
               </div>
           </div>
           <div class="row blog-entries">
               <div class="col-md-12 col-lg-8 main-content">
                   <form action="/board_write" enctype="multipart/form-data" method="post" accept-charset="utf-8" class="form-signin">
                       <input type="hidden" th:value="${session.userData.getUser_id()}" id="user_id" name="user_id"/>
                       <div class="row">
                           <div class="col-md-12 form-group">
                               <label>카테고리
                                   <a class="fa fa-cog ml-2" href="#" id="alert"></a>
                               </label>
                               <!--
                               <tr th:each="cl : ${categoryList}">
                                    <form action="/category_delete" method="post">
                                        <td name="cateogry_name"th:text="${cl.category_name}"></td>
                                        <td name="category_code"> <button class="fa fa-trash mr-4" style="color: #c80000;" type="submit"> </button></td>
                                    </form>
                                </tr>
                               -->
                               <select class="form-control" id="category1">
                                   <option value="0">카테고리를 선택하세요.</option>
                                   <option th:each="itemData : ${categoryList}" th:value="${itemData.category_code}" th:text="${itemData.category_name}"></option>
                               </select>
                           </div>
                           <div class="col-md-12 form-group">
                               <select class="form-control" id="category2" name="category2">
                                   <option value="개발">대분류를 먼저 선택하세요.</option>
                               </select>
                           </div>
                           <div class="col-md-12 form-group">
                               <label>태그</label>
                               <input type="text" class="form-control " id="tag" name="tag" placeholder="태그를 입력하세요.">
                           </div>
                           <div class="col-md-12 form-group">
                               <label>제목</label>
                               <input type="text" class="form-control " id="bbs_title" name="board_title" placeholder="제목을 입력하세요.">
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-12 form-group">
                               <label>내용</label>
                               <textarea name="bbs_content" class="form-control" cols="30" rows="8"></textarea>
                               <script>
                                   CKEDITOR.replace('bbs_content' , {
                                       height: 500,
                                       'filebrowserUploadUrl' : '/board/receive_img'
                                   });
                               </script>
                           </div>
                       </div>
                       <div class="row">
                           <input id="img" name="img" type="file"/>
                       </div>
                       <div class="row">
                           <div class="col-md-2 form-group container">
                               <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> 작성</button>
                           </div>
                       </div>
                   </form>
               </div>
               <th:block th:replace="components/navbar/sideBar :: SideBar"></th:block>
           </div>
       </div>
   </section>
<script>
    var chkVal='';

    function check(chkbox) {
        if($(chkbox).is(":checked")){
            chkVal = chkVal+chkbox.value+",";
        }
        else{
            chkVal = chkVal.replace(chkbox.value+',','');
        }
    }

    $("#alert").on("click" , function () {
        $('#exampleModal').modal('show');
    });

    $("#del_category").on("click" , function () {
        var str = chkVal.slice(0, -1);
        if(str == '') {
            alert('삭제할 카테고리를 선택하세요.');
            return false;
        }
        var result = confirm("삭제하시겠습니까?");
        if(result){
            $.ajax({
                url: "/del_category",
                dataType: "json",
                data: { categoryArray: str },
                type: "GET",
                success(result){
                    if(result == 1){
                        alert("카테고리가 삭제되었습니다.");
                        location.reload();
                    } else {
                        alert("삭제실패");
                    }
                }
            });
        }
    });

    $("#add_category").on("click" , function () {
        $.ajax({
            url: "/add_category",
            dataType: "json",
            data: { category_name: $("#category_name").val() },
            type: "POST",
            success(result){
                if(result == 1){
                    alert("카테고리가 추가되었습니다.");
                    location.reload();
                } else {
                    alert("등록실패");
                }
            }

        })
    });

</script>
</body>
<th:block th:replace="components/main/scripts :: footerScripts"></th:block>
</html>