<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.category.CategoryMapper">

	<!--category_name-->
    <insert id="category_register" parameterType="com.blog.mvc.category.CategoryVO">
        CALL SYS_CATEGORY_REGISTER ( #{category_name} );
    </insert>

    <select id="category_list" resultType="com.blog.mvc.category.CategoryListVO">
        CALL SYS_CATEGORY_LIST();
    </select>

    <select id="DelCategoryAction" parameterType="String">
        CALL SYS_CATEGORY_DELETE(#{s});
    </select>

    <select id="tag_register">
        CALL SYS_TAG_REGISTER();
    </select>
    
    <delete id="tag_delete">
        CALL SYS_TAG_DELETE( #{cateogry_code} , #{cateogry_name});
    </delete>
</mapper>